/*font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;*/

h1{
  font-size: 25px;
  display: inline-block;
  margin: 25px;
  color: #16a085;
}

.me{
  color: #f39c12;
}

body{
  font-family: 'Roboto', sans-serif;
}

header{
  height: 75px;
  background-color: azure;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.btn-login{
  margin: 0px 20px 0px 20px;
  border: none;
  width: 70px;
  height: 25px;
  border-radius: 5px;
  color: white;
  background-color: #2ecc71
}

.btn-logout{
  margin: 0px 20px 0px 20px;
  border: none;
  width: 70px;
  height: 25px;
  border-radius: 5px;
  color: white;
  background-color: #e74c3c;
}

.auth{
  display: flex;
  align-items: center;
  float: right;
  height: 75px;
}

.username{
  display: inline-block;
}

.avatar{
  margin-right: 20px;
  height: 60px;
}
