#poll-container{
  margin: 20px;
  border: solid lightGrey 2px;
  padding: 50px;
  text-align: center;
}

.number-of-users{
  display: inline-block;
}

.poll-title{
  text-align: center;
  display: block;
}

#poll-options{
  text-align: center;
}

.poll-option{
  display: block;
  margin: 20px auto 20px auto;
  width: 100px;
}

.option-container{
  display: block;
}

.user-img{
  margin-left: 10px;
  display: inline-block;
  width: 30px;
}
